
	.navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    footer {
      background-color: #000000;
      color: white;
      padding: 10px;
    }
    
    .container-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto
}

   @media ( min-width :768px) {
	.modal-dialog {
		width: 500px;
		margin: 30px auto
	}
	
	.left-background{
	background-color: #f9f9f9;
	}
	
	.hr-color{
	border-top: 1px solid #dddddd
	}
	
