<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>libraryGroup2</display-name>
  <servlet>
    <servlet-name>MController</servlet-name>
    <servlet-class>
		member.controller.MController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MController</servlet-name>
    <url-pattern>*.kfc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MController</servlet-name>
    <url-pattern>*.mkfc</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Bcontroller</servlet-name>
    <servlet-class>
		book.controller.Bcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bcontroller</servlet-name>
    <url-pattern>*.bkfc</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Rcontroller</servlet-name>
    <servlet-class>
		rental.controller.Rcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Rcontroller</servlet-name>
    <url-pattern>*.rkfc</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>